$timer-display-line-height: 100px;

#display-wrapper {
    position: absolute;
    background-color: #a5afa54d;
    z-index: 100;
    height: 100%;
    width: 100%;
}

.timer-window {
    text-align: absolute;
    height: $timer-display-line-height;
    line-height: $timer-display-line-height;
    margin: 10px;
    z-index: 10;
}

.timer-display {
    font-family: "Bebas Neue", sans-serif;
    display: inline;
    font-size: 75px;
    letter-spacing: 4px;
    color: #17121261;

}